/* =========================
   ADVANTAGES
========================= */

.advant-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    max-width: 1128px;
    justify-content: center;
    align-items: center;


    @media screen and (width >= 768px) {
        flex-direction: row;
        align-content: center;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        max-width: ((100% - 24px ) / 2);

    }
    
    @media screen and (width >= 1158px) {
        display: flex;
        gap: 24px;
        max-width: ((100% - 72px) / 3);
        

    
    }
}

.advant-info {
    max-width: 288px;

    @media screen and (width >= 768px) {
        max-width: 356px;
    }
    
    @media screen and (width >= 1158px) {
        flex: 1 1 264px;
    }
    
}

.adv-title-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

    margin-bottom: 8px;

    @media screen and (width >= 768px) {
        text-align: left;
    }
    
    @media screen and (width >= 1158px) {
        font-weight: 500;
        font-size: 20px;
    }
}

.adv-title-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;

    @media screen and (width >= 1158px) {
        font-weight: 400;
    }
}

.adv-icon-container {
     
    display: none;
    
    @media screen and (width >= 1158px) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        background: #f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
      
    }
   
}

.icon {
    height: 64px;
    width: 64px;
}