.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
    
    @media screen and (width >= 768px) {
        max-width: 768px;
    }
    
    @media screen and (width >= 1158px) {
        max-width: 1158px;
      
    }
}