/* =========================
/* =========================
   FOOTER
========================= */

.foot-page {
    background-color: #2e2f42;
    padding: 96px 0;
   
    @media screen and (width >= 1158px) {
        padding: 100px 0;
    }
    
}


.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;

    @media screen and (width >= 768px) and (width <= 1157px){
        flex-direction: row;
        justify-content: flex-start;
        gap: 72px 24px;
        flex-wrap: wrap;
        align-items: baseline;
        padding-left: 108px;
        
    }
    
    @media screen and (width >= 1158px) {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        flex-wrap: nowrap;
        gap: 0;
 
    }
}
.foot-container-copy {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 288px;
    align-items: center;
    @media screen and (width >= 768px) {
        max-width: 264px;
        align-items: flex-start;
    }

    @media screen and (width >= 1158px) {
        margin-right: 120px;
    }
}

.foot-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;

    
}

.foot-container-link {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.foot-text-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;

    @media screen and (width >= 768px) {
      text-align: left;
    }
    
}


/* TELEGRAM-FORM */
.form-subs-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (width >= 768px) {
      align-items: flex-start;
    }
    
    @media screen and (width >= 1158px) {
        margin-left: auto;
    }
    

}

.subscribe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    @media screen and (width >= 768px) {
      flex-direction: row;
      gap: 24px;
    }
    
    @media screen and (width >= 1158px) {
        justify-content: flex-end;
        align-items: flex-start;
    }
}

.form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;

}


.subs-telegram-input {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #fff;
    border-radius: 4px;
    height: 40px;
    width: 288px;
    font-weight: 400;
    font-size: 12px;
    padding: 8px 16px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: transparent;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
    @media screen and (width >= 768px) {
        width: 264px;
    }
}

.subs-telegram-input:hover,
.subs-telegram-input:focus {
    border: 1px solid #31d0aa;
}

.subs-telegram-input::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #fff;
}

.subs-telegram-btn {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    background: #4d5ae5;
    border: none;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #fff;
    min-width: 165px;
    align-items: center;
    font-weight: 500;
}

.subs-telegram-btn:hover,
.subs-telegram-btn:focus {
    background: #31d0aa;
}

.subsribe-icon {
    fill: #fff;
    margin-left: 16px;

}