

.hero-page {
    background-color: #2e2f42;
    padding: 72px 0;
    text-align: center;
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ), url("../images/people-office-mobile.jpg");
    max-width: 1440px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;

    @media screen and (min-resolution: 192dpi) {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url("../images/people-office-mobile@2x.jpg");
    }

    @media screen and (width >= 768px) {
        padding: 112px 0;
        
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ), url("../images/people-office-tablet.jpg");

        @media screen and (min-resolution: 192dpi) {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)), url("../images/people-office-tablet@2x.jpg");
            }
    }
    
    @media screen and (width >= 1158px) {
        padding: 188px 0;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ), url("../images/people-office-desktop.jpg");
        @media screen and (min-resolution: 192dpi) {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)), url("../images/people-office-desktop@2x.jpg");
            }
    }
}

.hero-page .container {
    display: flex;
    flex-direction: column;
    gap: 72px;

    @media screen and (width >= 768px) {
      gap: 36px;
    }
    
    @media screen and (width >= 1158px) {
      gap: 48px;
    }
}
.main-title {
    text-align: center;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    font-weight: 700;
    color: #fff;
    margin: 0 auto;
    max-width: 216px;


    @media screen and (width >= 768px) {
        max-width: 496px;
        font-size: 56px;
        line-height: 107%;
    } 
}




.btn-order {
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.04em;
    background: #4d5ae5;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    display: block;
    min-width: 169px;
    margin: 0 auto;
    min-height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





.btn-order:hover,
.btn-order:focus {
    background-color: #404bbf;
}
