/* =========================
   LOGO
========================= */

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-web {
    color: #2e2f42;
}

.logo-web-foot {
    color: #f4f4fd;
}

.foot-page .logo {
    display: inline-block;
}