.mobile-menu-overlay {
    position: fixed;
    inset: 0;
    background: #fff;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    overflow: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-overlay.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
.mobile-menu {
    min-height: 100%;
    padding: 72px 16px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}   


.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-adress {
    margin-bottom: 48px;
    list-style: none;
}

.mobile-adress-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}



.mobile-head-adr {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon-container {
    display: flex;
    gap: 40px;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: #404bbf;
}

.mobile-head-adr:hover,
.mobile-head-adr:focus {
    color: #4d5ae5;
}

.mobile-adress-item:first-child .mobile-head-adr {
    color: #4d5ae5;
}
.mobile-menu-list-item:first-child .mobile-menu-link {
    color: #404bbf;
}