/* =========================
   PORTFOLIO
========================= */

.port-page-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;

    @media screen and (width >= 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        
    }
    
    @media screen and (width >= 1158px) {
        row-gap: 48px;
        column-gap: 40px 24px;
        justify-content: center;
        max-width: 1128px;
    }
}

.port-page-item {
    background: #fff;

    @media screen and (max-width: 1157px) {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    @media screen and (width >= 768px) {
        flex-basis: calc((100% - 24px) / 2);
    }
    
    @media screen and (width >= 1158px) {
        flex-basis: calc((100% - 48px) / 3);
    }
    

}

.port-page-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    cursor: pointer;
    transform: translateY(0%);
}

.port-page-item:first-child {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-page-image {
    width: 100%;
    object-fit: cover;
    height: auto;
}
.portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.port-page-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
    margin-bottom: 8px;
}

.port-page-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;
}

.port-image-wrapper {
    position: relative;
    overflow: hidden;
}


.port-page-item:hover .overlay-text {
    transform: translateX(0);


}


.overlay-text {
    font-weight: 400;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}